# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Enviroment variables
.env

# IDE/editor
.vscode/
.idea/

# OS files
.DS_Store

# Local database
data/*.db

# Generated reports
reports/*.md

