# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Enviroment variables
.env

# Testing
.pytest_cache/
.coverage
htmlcov/

# Linting / tooling
.ruff_cache/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store

# Local data
data/*.db
data/*.sqlite
data/*.sqlite3

# Generated reports
reports/*.md

# Logs
*.log

# Packaging
*.egg-info/
build/
dist/
